* {
  box-sizing: border-box;
}

.canvas-container {
  border: 1px solid black;
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  display: flex;
}

.canvas-container__canvas {
  display: block;
  outline: 5px solid grey;
  width: 800px;
}

.canvas-container__buttons-wrapper {
  outline: 5px solid grey;
  width: 20%;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(68, 130, 167);
  /* background-color: linear-gradient(purple 0, violet 10%, ); */
}
.button-background {
  height: 45%;
  width: 100%;
}

/* .button-background:focus {
  
} */

.buttons-wrapper__input {
  background-color: bisque;
  width: 60%;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 20px;
  font-size: 20px;
  transition-duration: .2s;
  outline: none;
}

.buttons-wrapper__input:active {
  box-shadow: inset 0px 0px 7px 1px #000;
}
