/* хедер твитов конец */

.tweets-main {
  padding: 0;
  height: 1200px;
}

.tweets-main__content {
  padding-bottom: 10px;
  max-height: 1050px;
  overflow: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.tweets-main__content::-webkit-scrollbar { 
  width: 0px;  
  background: transparent;
}

.line-height-n {
  line-height: normal;
}

/* tweet-footer */
.tweet-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.tweet-footer__actions {
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.actions__reply,
.actions__rt,
.actions__fav,
.actions__more {
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms;
  transition: transform 200ms;  
}

.actions__reply:hover {
  filter: hue-rotate(30deg) saturate(8);
}

.actions__rt:hover {
  filter: hue-rotate(230deg) saturate(8);
}
.actions__fav:hover {
  filter: hue-rotate(200deg) saturate(8);
}

.actions__more:hover {
  filter: hue-rotate(0deg) saturate(8);
}

.actions__reply:active,
.actions__rt:active,
.actions__fav:active,
.actions__more:active {
  transform: scale(0.8);
}

.reply-number,
.rt-number,
.fav-number {
  user-select: none;
  color: #8899a6;
  opacity: 0.8;  
}

.tweet-footer__link {
  z-index: 1001;
}
/* tweet-footer END*/

.tweets-main__footer {
  position: relative;
  height: 25px;
  bottom: 135px;
  background-color: #f5f8fa;
  display: flex;
  align-items: center;
}

.tweets-footer-gradient {
  position: relative;
  bottom: 135px;
  height: 120px;
  background: linear-gradient( #f5f8fa00, #f5f8fa2c, #f5f8faad, #f5f8fae0, #f5f8fa);
}

.tweets-main__footer__line {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}

.tweets-main__footer__logo {
  margin-left: 15px;
  margin-right: 15px;
}
/* tweets END*/

