.tweets-main {
    padding: 0;
    /* height: 1190px; */
    background-color: #34c58150;
}

.tweets-main__header {
    height: 88px;
}

.tweets-main__content {
    background-color: aquamarine;
    height: 1090px;
}

.tweets-main__footer {
    height: 25px;
    background-color: rgb(209, 87, 112);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.tweets-main__footer__line {
    width: 100%;
    height: 1px;
    background-color: #cccccc;
}

.tweets-main__footer__logo {
    margin-left: 15px;
    margin-right: 15px;
}