body {
  background-color: #e5edf0;
}
.withoutPadding {
  padding: 0;
  margin: 0;
}
.shadow {
  box-shadow: 0px 2px 9px 1px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-color-silver {
  color: rgb(137, 137, 137);
}

#header {
  background-color: white;
  box-shadow: 0px 2px 4px -1px;
}
.nav {
  padding: 5px 0;
}
.nav-header_logo {
  display: block;
  margin: 0 auto;
}
.nav-link_logo::before {
  content: "";
  background-image: url("./IconsForTwitter/house.png");
  background-size: 100% 100%;
  position: absolute;
  left: 7px;
  width: 21px;
  height: 20px;
  color: rgb(222, 211, 211);
}
.registration-form {
  background-color: white;
  padding: 0;
}
.registration-title {
  font-weight: 300;
}
.registration-form_input {
  border: none;
  border-bottom: 1px solid silver;
  font-size: 14px;
  padding: 12px 0;
  outline: none;
}
.form-content {
  padding: 30px;
}
.hints {
  color: silver;
  font-size: 10px;
}
.form-footer {
  background-color: #e5edf0;
}
.footer-link {
  padding: 20px 30px;
}

@media (min-width: 1200px) {
}
@media (min-width: 992px) {
}
@media (min-width: 768px) {
}
@media (min-width: 576px) {
}
