* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-section {
  display: flex;
  justify-content: space-between;
  padding: 2% 7%;
}

.header-nav__ul a,
li {
  list-style: none;
  text-decoration: none;
  color: #141414;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}
.header-nav__li {
  margin-left: 2em;
}

.header-nav__ul {
  display: flex;
}
.header-nav__ul a:hover {
  color: #10c9c3;
}

.contact-content {
  padding: 6.48% 7%;
  background-color: #f5f5f5;
}

.text-inputs {
  display: flex;
}
.contact-info {
  max-width: 42%;
  min-width: 320px;
}
.contact-info__h2 {
  font-size: 2rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin-bottom: 2.2rem;
  text-transform: capitalize;
}

.contact-info p {
  font-family: "Nunito Sans", sans-serif;
  color: gray;
  line-height: 1.65;
  font-size: 1rem;
  font-weight: 400;
  max-width: 61%;
}
.contact-info__p2 > strong {
  color: black;
}
.contact-info__p1 {
  margin-bottom: 1.6rem;
}
.contact-info__p2 + p {
  margin-top: 8%;
}

.name-email-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.inputAreas {
  min-width: 320px;
  width: 100%;
}
.inputAreas input:not([type="button"]),
textarea {
  border: 0;
  padding: 2.5%;
  margin-bottom: 4.1%;
  font-family: sans-serif;
}
.inputAreas__input3,
.inputAreas__textarea {
  width: 100%;
}
.inputAreas__input2,
.inputAreas__input1 {
  width: 47%;
}
.inputAreas__input5 {
  border: 0;
  padding: 20px 25px;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  font-weight: 500;
  background-color: #10c9c3;
  text-transform: uppercase;
  color: #ffffff;
}
.inputAreas__input5:hover {
  background-color: darkslategray;
}

.map {
  margin-top: 6.48%;
  height: 470px;
}
.map__iframe {
  width: 100%;
  height: 100%;
}
.footer {
  color: white;
  padding: 6.48% 7%;
  background-color: #141414;
  font-size: 1rem;
  font-weight: 400;
  color: #bcbcbc;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.65;
}

.container__f a {
  text-decoration: none;
  color: #bcbcbc;
}

.container__f a:hover {
  color: #10c9c3;
}
.container__f {
  display: flex;
}

.col1 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col2 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col3 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col4 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col5 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col1 > h3 {
  color: white;
  font-weight: 100;
  font-family: Montserrat, sans-serif;
  margin-bottom: 20px;
}

@media (min-device-width: 640px) and (max-device-width: 979px) {
  .name-email-block {
    flex-wrap: wrap;
  }
  .inputAreas__input2,
  .inputAreas__input1 {
    width: 100%;
  }
  .contact-info__h2 {
    margin-bottom: 1.3rem;
  }
  .contact-info__p2 + p {
    margin-top: 2%;
  }
  .footer {
    font-size: 0.7rem;
  }
}

@media (min-device-width: 640px) and (max-device-width: 768px) {
  .name-email-block {
    flex-wrap: wrap;
  }
  .inputAreas__input2,
  .inputAreas__input1 {
    width: 100%;
  }
  .contact-info__h2 {
    margin-bottom: 1.3rem;
  }
  .contact-info__p2 + p {
    margin: 5% 0;
  }

  .footer {
    font-size: 0.7rem;
  }
  .text-inputs {
    flex-wrap: wrap;
  }
  .container__f {
    flex-wrap: wrap;
  }
  .contact-info {
    width: 100%;
    max-width: none;
  }
  .contact-info:first-child p {
    width: 100%;
    max-width: none;
  }
  .col1 {
    flex: 0 0 40.666667%;
    max-width: 40.666667%;
  }
}

@media (min-device-width: 480px) and (max-device-width: 639px) {
  .name-email-block {
    flex-wrap: wrap;
  }
  .inputAreas__input2,
  .inputAreas__input1 {
    width: 100%;
  }
  .contact-info__h2 {
    margin-bottom: 1.3rem;
  }
  .contact-info__p2 + p {
    margin: 5% 0;
  }

  .footer {
    font-size: 0.7rem;
  }
  .text-inputs {
    flex-wrap: wrap;
  }
  .container__f {
    flex-wrap: wrap;
  }
  .contact-info {
    width: 100%;
    max-width: none;
  }
  .contact-info:first-child p {
    width: 100%;
    max-width: none;
  }
  .col1 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .col2 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col3 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col4 {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .col5 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .footer ul {
    margin-top: 10px;
  }
}

@media (min-device-width: 320px) and (max-device-width: 479px) {
  .inputAreas {
    min-width: 1px;
  }
  .header-section {
    font-size: 15px;
  }
  .name-email-block {
    flex-wrap: wrap;
  }
  .inputAreas__input2,
  .inputAreas__input1 {
    width: 100%;
  }
  .contact-info__h2 {
    margin-bottom: 1.3rem;
  }
  .contact-info__p2 + p {
    margin: 5% 0;
  }

  .inputAreas__input5 {
    width: 100%;
  }

  .footer {
    font-size: 0.5rem;
  }
  .text-inputs {
    flex-wrap: wrap;
  }
  .container__f {
    flex-wrap: wrap;
  }
  .contact-info {
    width: 100%;
    max-width: none;
    min-width: 1px;
  }
  .contact-info:first-child p {
    width: 100%;
    max-width: none;
  }
  .col1 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .col2 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col3 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col4 {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .col5 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .footer ul {
    font-size: 10px;
    margin-top: 10px;
  }
}
