* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.header__wrapper-block {
  padding: 0 96px;
  background-color: white;
  background-image: url(../img/header2img.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.header-section {
  display: flex;
  justify-content: space-between;

  flex-basis: 100%;
}

ul {
  display: flex;
  width: 620px;
  justify-content: space-between;
}

.section_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 38px 0 201px 0;
}

.nav-link {
  display: block;
  color: #191919;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #10c9c3;
}

.header-content {
  margin-top: 171px;
  width: 480px;
  display: flex;
  flex-direction: column;
}

.header-content h1 {
  color: #1d1d1d;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 500;
  line-height: 48px;
}

.header-content p {
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.09px;
  margin-top: 15px;
}

.header-content button {
  margin-top: 20px;
  width: 180px;
  height: 54px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  background-color: #10c9c3;
}

/* first section ////////////////////////////////////////////////////////////////*/

.section_aboute-us {
  padding: 100px 0;
}

.about-us_content {
  width: 620px;
  margin: 0 auto;
}

.about-us_content h2 {
  color: #191919;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
}

.about-us_content p {
  margin-top: 41px;
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.08px;
  text-align: center;
}

.about-us_content .aboute-us_img {
  text-align: center;
  margin-top: 37px;
}

/* skills ////////////////////////////////////////////////////////////////*/

.section_prof-skills {
  background-image: url(../img/skills.jpg);
  background-size: cover;
}

.prof-skills_content {
  padding: 164px 85px 164px 98px;
  width: 683px;
}

.prof-skills_content h2 {
  color: #171717;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
}

.prof-skills_content p {
  color: #000000;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;
  margin-top: 40px;
}

.percent_75,
.percent_65,
.percent_90 {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.percent_75 .first {
  height: 5px;
  width: 75%;
  background-color: #10c9c3;
}

.percent_75 .second {
  height: 5px;
  width: 25%;
  background-color: #d8d8d8;
}

.percent_90 .first_2 {
  height: 5px;
  width: 90%;
  background-color: #10c9c3;
}

.percent_90 .second_2 {
  height: 5px;
  width: 10%;
  background-color: #d8d8d8;
}

.percent_65 .first_3 {
  height: 5px;
  width: 60%;
  background-color: #10c9c3;
}

.percent_65 .second_3 {
  height: 5px;
  width: 40%;
  background-color: #d8d8d8;
}

/* statistics ////////////////////////////////////////////////////////////////*/

.section_statistics {
  background-color: #10c9c3;
  padding: 101px 0;
  display: flex;
  justify-content: space-evenly;
}

.statistics_wrap {
  display: flex;
}

.stasistics_img {
  margin-right: 27px;
}

.stasistics_content p:nth-child(1) {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.54px;
}

.stasistics_content p:nth-child(2) {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

/* products ////////////////////////////////////////////////////////////////*/

.product_section {
  display: flex;
  flex-wrap: wrap;
  /* border-top: 0.5px solid silver;
  border-bottom: 0.5px solid silver; */
}

.product {
  flex-basis: 25%;
  height: 300px;
  min-width: 300px;
}


.product_section .loadmore {
  flex-basis: 100%;
  padding: 46px 0;
  color: #8e8e8e;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.product1 {
  background-image: url("../img/products/alex-holyoake-ns-zrk_O-z4-unsplash.jpg");
  background-size: 100% 100%;
}
.product2 {
  background-image: url("../img/products/devin-avery-bMH8ub9z1_U-unsplash.jpg");
  background-size: 100% 100%;
}
.product3 {
  background-image: url("../img/products/henry-ascroft-7OFnb7NOvjw-unsplash.jpg");
  background-size: 100% 100%;
}
.product4 {
  background-image: url("../img/products/malte-wingen-PDX_a_82obo-unsplash.jpg");
  background-size: 100% 100%;
}
.product5 {
  background-image: url("../img/products/mikkel-bech-yjAFnkLtKY0-unsplash.jpg");
  background-size: 100% 100%;
}
.product6 {
  background-image: url("../img/products/norbert-levajsics-dUx0gwLbhzs-unsplash.jpg");
  background-size: 100% 100%;
}
.product7 {
  background-image: url("../img/products/pepi-stojanovski-tulxmkTXmRw-unsplash.jpg");
  background-size: 100% 100%;
}
.product8 {
  background-image: url("../img/products/rachit-tank-2cFZ_FB08UM-unsplash.jpg");
  background-size: 100% 100%;
}

/* home ////////////////////////////////////////////////////////////////*/

.header__wrapper-block-home-page {
  padding: 0 96px;
  background-color: white;
  background-image: none !important;
  min-height: 100px;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.section_block-home-page {
  padding: 35px 0;
}

.header-nav__home-page-list {
  display: flex;
  width: 215px;
  justify-content: space-between;
}

.title-section {
  min-height: 313px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-section__text-block {
  max-width: 552px;
  text-align: center;
  /* padding: 0 20px; */
}

.title-section__text-block h1 {
  color: #171717;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 22px;
  margin: 0 20px;
  letter-spacing: 0.38px;
}

.title-section__text-block p {
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 28px;
  margin: 0 20px;
  margin-right: -20px;
}

.product--hover {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s ease;
}

.product--hover__icon {
  opacity: 0;
  transition: 0.8s ease;
}

.product--hover:hover {
  background-color: #10c9c3a6;
}
.product--hover:hover .product--hover__icon {
  opacity: 1;
}

@media (min-width: 1200px) {
  
  //CSS
  
}

@media (min-width: 980px) and (max-width: 1199px) {
  
  //CSS
  
}

@media (min-width: 769px) and (max-width: 979px) {
  
  //CSS
  
}

@media (min-width: 640px) and (max-width: 768px) {
  
  //CSS
  
}

@media (min-width: 480px) and (max-width: 639px) {
  
  //CSS
  
}

@media (min-width: 320px) and (max-width: 479px) {
  
  //CSS
  
}
