<header class="container-fluid sticky-top">
  <nav class="col-sm-12 col-xl-12 navbar header-main-nav header-navbar container-fluid navbar-expand-lg navbar-light bg-light px-4">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse col-xl-12 navbar-collapse header-main-navigation" id="navbarSupportedContent">
        <ul class="navbar-nav text-muted main-header-menu-list px-2">
          <li class="d-flex flex-nowrap align-items-center ml-3 main-header-menu-item justify-content-center">
              <a class="mr-1" href="../home-page.html" id="home">
                  <img src="img/icons/Home_icon.png" alt="home">
              </a>
              <label class="mb-0" for="home"><a class="text-decoration-none custom-a text-muted" href="../home-page.html">Home</a></label>
          </li>
        </ul>
          <div class="mx-auto main-header-nav-logo">
              <a class="navbar-brand mx-auto" href="../home-page.html">
                  <img src="img/icons/Twitter_logo.png" alt="logo">
              </a>
          </div>
          <ul class="navbar-nav text-muted justify-content-between list-width flex-row">
          <li class="d-flex flex-nowrap custom-search-field align-items-center px-2">
              <input class="w-100 search-if text-light" type="search" placeholder="Search" aria-label="Search">
              <input type="image" src="img/icons/search_icon@2x.png" class="custom-search-logo">
            <ul class="header-search-list">
            </ul>
          </li>
          <li class="d-flex flex-nowrap ml-3 align-items-center main-header-menu-icon">
              <div class="p-1 custom-input-btms d-flex align-items-center mx-auto">
                  <input type="image" src="img/icons/Compose_icon.svg" class="">
              </div>
          </li>
          <li class="d-flex flex-nowrap ml-3 align-items-center main-header-menu-icon">
              <a href="../index.html" class="p-1 d-flex align-items-center mx-auto text-muted font-weight-bold text-decoration-none">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
</header>