<div class="col-xl-8 col-lg-11 col-md-12 col-sm-12 col-12 tweets-main__content tab-pane show active fade" id="tweets"
>
  <!-- tweet -->
  <div class="card mb-2 card--custom">
    <div class="card-body py-3 px-0 card-body--сustom">
      <h6
        class="card-subtitle mt-1 mb-4 px-3 text-muted font-size-14"
      >
        36m ago
      </h6>
      <p
        class="card-text mb-3 px-3 font-weight-normal font-size-28 line-height-n"
      >
        Twitter changes its layout,again. This one is a huge
        tweet.<a href="#" class="card-link"> #NewTwitter</a>
      </p>
      <div class="mt-2 px-3 tweet-footer">
        <div class="tweet-footer__actions">
          <div class="mr-2 actions__reply">
            <img
              src="img/icons/reply_icon.png"
              class="reply-icon"
            />
            <span class="reply-number font-weight-bold font-size-12"
              >150</span
            >
          </div>
          <div class="mr-2 actions__rt">
            <img src="img/icons/rt_icon.png" class="rt-icon" />
            <span class="rt-number font-weight-bold font-size-12"
              >35</span
            >
          </div>
          <div class="mr-2 actions__fav">
            <img src="img/icons/fav_icon.png" class="fav-icon" />
            <span class="fav-number font-weight-bold font-size-12"
              >50</span
            >
          </div>
          <div class="mr-2 actions__more">
            <img src="img/icons/more_icon.png" class="more-icon" />
          </div>
        </div>
        <div
          class="ml-3 ml-md-0 ml-lg-0 ml-xl-0 mr-3 tweet-footer__link"
        >
          <a href="#" class="card-link d-none">View more photos</a>
        </div>
      </div>
    </div>
  </div>
  <!-- tweet -->
  <div class="card mb-2 card--custom">
    <div class="card-body py-3 px-0 card-body--custom">
      <h6
        class="card-subtitle mt-1 mb-4 px-3 text-muted font-size-12"
      >
        1h ago
      </h6>
      <p
        class="card-text mb-3 px-3 font-weight-normal font-size-28 line-height-n"
      >
        This is a tweet with a nice<a href="#" class="card-link">
          #picture </a
        >attached. Feel free to insert your favorite image here.
      </p>
      <img
        src="img/30jan_ateam-431x300.jpg"
        class="card-img-top m-0 w-100 rounded-0"
        alt="OOPS!"
      />
      <div class="mt-2 px-3 tweet-footer">
        <div class="tweet-footer__actions">
          <div class="mr-2 actions__reply">
            <img
              src="img/icons/reply_icon.png"
              class="reply-icon"
            />
            <span class="reply-number font-weight-bold font-size-12"
              >310</span
            >
          </div>
          <div class="mr-2 actions__rt">
            <img src="img/icons/rt_icon.png" class="rt-icon" />
            <span class="rt-number font-weight-bold font-size-12"
              >23</span
            >
          </div>
          <div class="mr-2 actions__fav">
            <img src="img/icons/fav_icon.png" class="fav-icon" />
            <span class="fav-number font-weight-bold font-size-12"
              >89</span
            >
          </div>
          <div class="mr-2 actions__more">
            <img src="img/icons/more_icon.png" class="more-icon" />
          </div>
        </div>
        <div
          class="ml-3 ml-md-0 ml-lg-0 ml-xl-0 mr-3 tweet-footer__link"
        >
          <a href="#" class="card-link">View more photos</a>
        </div>
      </div>
    </div>
  </div>
  <!-- tweet -->
  <div class="card mb-2 card--custom">
    <div class="card-body py-3 px-0 card-body--custom">
      <h6
        class="card-subtitle mt-1 mb-4 px-3 text-muted font-size-12"
      >
        2d ago
      </h6>
      <p
        class="card-text mb-3 px-3 font-weight-normal font-size-16"
      >
        And now comes a regular tweet! Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim.<a href="#" class="card-link">
          #placeholdertext</a
        >
      </p>
      <div class="mt-2 px-3 tweet-footer">
        <div class="tweet-footer__actions">
          <div class="mr-2 actions__reply">
            <img
              src="img/icons/reply_icon.png"
              class="reply-icon"
            />
            <span class="reply-number font-weight-bold font-size-12"
              >150</span
            >
          </div>
          <div class="mr-2 actions__rt">
            <img src="img/icons/rt_icon.png" class="rt-icon" />
            <span class="rt-number font-weight-bold font-size-12"
              >35</span
            >
          </div>
          <div class="mr-2 actions__fav">
            <img src="img/icons/fav_icon.png" class="fav-icon" />
            <span class="fav-number font-weight-bold font-size-12"
              >50</span
            >
          </div>
          <div class="mr-2 actions__more">
            <img src="img/icons/more_icon.png" class="more-icon" />
          </div>
        </div>
        <div
          class="ml-3 ml-md-0 ml-lg-0 ml-xl-0 mr-3 tweet-footer__link"
        >
          <a href="#" class="card-link d-none">View more photos</a>
        </div>
      </div>
    </div>
  </div>
  <!-- tweet -->
  <div class="card mb-2 card--custom">
    <div class="card-body py-3 px-0 card-body--custom">
      <h6
        class="card-subtitle mt-1 mb-4 px-3 text-muted font-size-14 text-uppercase"
      >
        <img
          src="img/icons/rtetweeted_icon.png"
          class="pr-1"
        />retweeted on feb 13
      </h6>
      <div class="d-flex-row mt-n3 mb-4 px-3">
        <img src="img/icons/GiulioBX_profile24x24_pic.png" alt="" />
        <a href="#" class="card-link font-size-14"
          >Giulio Bordonaro
        </a>
        <span class="font-size-14 text-muted"
          >@GiulioBX · Feb 13</span
        >
      </div>
      <p
        class="card-text mb-3 px-3 font-weight-normal font-size-16"
      >
        And now comes a regular tweet! Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim.<a href="#" class="card-link">
          #placeholdertext</a
        >
      </p>
      <div class="mt-2 px-3 tweet-footer">
        <div class="tweet-footer__actions">
          <div class="mr-2 actions__reply">
            <img
              src="img/icons/reply_icon.png"
              class="reply-icon"
            />
            <span class="reply-number font-weight-bold font-size-12"
              >150</span
            >
          </div>
          <div class="mr-2 actions__rt">
            <img src="img/icons/rt_icon.png" class="rt-icon" />
            <span class="rt-number font-weight-bold font-size-12"
              >35</span
            >
          </div>
          <div class="mr-2 actions__fav">
            <img src="img/icons/fav_icon.png" class="fav-icon" />
            <span class="fav-number font-weight-bold font-size-12"
              >50</span
            >
          </div>
          <div class="mr-2 actions__more">
            <img src="img/icons/more_icon.png" class="more-icon" />
          </div>
        </div>
        <div
          class="ml-3 ml-md-0 ml-lg-0 ml-xl-0 mr-3 tweet-footer__link"
        >
          <a href="#" class="card-link d-none">View more photos</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-8 col-lg-11 col-md-12 col-sm-12 col-12 tweets-main__content tab-pane fade" id="followers">
</div>
<div class="col-xl-8 col-lg-11 col-md-12 col-sm-12 col-12 tweets-main__content tab-pane fade" id="following">
</div>