<section class="col-xl-4 users-suggest section">
    <div class="users-suggest__text-wrapper section__text-wrapper d-flex align-content-end pb-3">
        <span class="font-weight-light">Who to follow</span>
        <span class="padding-left-3 circle-pseudo"><a class="users-suggest__link font-size-12"
                href="#">Refresh</a>
            <span>
                <span class="padding-left-3 circle-pseudo"><a
                        class="users-suggest__link font-size-12" href="#">View all</a>
                    <span>
    </div>
    <div class="users-suggest__users-wrapper">
        <div class="users-suggest__user d-flex pb-3 align-items-center">
            <img class="users-suggest__image" src="img/icons/GiulioBX_profile_pic.png" alt="">
            <div class="users-suggest__wrap pl-3">
                <div class="users-suggest__name-wrapper d-flex flex-wrap">
                    <span class="users-suggest__user-name font-weight-bold">Giulio Bordonaro</span>
                    <a class="users-suggest__user-login text-muted font-weight-light pl-1"
                        href="#">@GiulioBx</a>
                </div>
                <input type="button"
                    class="users-suggest__follow-btn tw-btn btn font-weight-bold font-size-12 mt-1"
                    value="Follow">
            </div>
        </div>
        <div class="users-suggest__user d-flex pb-3 align-items-center">
            <img class="users-suggest__image" src="img/icons/user2_profile_pic.png" alt="">
            <div class="users-suggest__wrap pl-3">
                <div class="users-suggest__name-wrapper d-flex flex-wrap">
                    <span class="users-suggest__user-name font-weight-bold">Interesting User</span>
                    <a class="users-suggest__user-login text-muted font-weight-light pl-1"
                        href="#">@User</a>
                </div>
                <input type="button"
                    class="users-suggest__follow-btn tw-btn btn font-weight-bold font-size-12 mt-1"
                    value="Follow">
            </div>
        </div>
        <div class="users-suggest__user d-flex pb-3 align-items-center">
            <img class="users-suggest__image" src="img/icons/user3_profile_pic.png" alt="">
            <div class="users-suggest__wrap pl-3">
                <div class="users-suggest__name-wrapper d-flex flex-wrap">
                    <span class="users-suggest__user-name font-weight-bold">Other User</span>
                    <a class="users-suggest__user-login text-muted font-weight-light pl-1"
                        href="#">@OtherUser</a>
                </div>
                <input type="button"
                    class="users-suggest__follow-btn tw-btn btn font-weight-bold font-size-12 mt-1"
                    value="Follow">
            </div>
        </div>
    </div>
    <div class="users-suggest__links-wrapper d-flex flex-wrap">
        <span><a class="users-suggest__link font-size-12" href="#">Popular accounts</a></span>
        <span class="circle-pseudo"><a class="users-suggest__link font-size-12 padding-left-3"
                href="#">Find
                friends</a></span>
    </div>
</section>